<div class="search">
  <li><%= form_tag(albums_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Albums" %>
    <%= submit_tag :search, :name => nil, id: 'search-button' %><% end %>
  </li>
</div>

<div class="album-section">
  <div class="albums">
    <div class="album-list-header">
      <li>Albums</li>
      <hr>
      <% if @albums.blank? && params[:search] %>
        <h4>There is no album containing the term <%= params[:search] %>.</h4>
        <%= link_to 'Back', root_path, id: 'back-link'%>
      <% end %>
    </div>

    <ul>
      <% @albums.each do |album| %>
        <div class="album">
          <li><%= link_to album.title, admin_album_path(album), id: album.title %>
        <div class="album-timestamp">created at: <%= album.created_at%></div></small></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
